<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CABPROJECT</display-name>
  <servlet>
  <servlet-name>booking</servlet-name>
  <servlet-class>com.taxi.available.AvailableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>booking</servlet-name>
  <url-pattern>/go</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>booking1</servlet-name>
  <servlet-class>com.taxi.available.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>booking1</servlet-name>
  <url-pattern>/reserve</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
</web-app>